{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="loginPage">
        <form method="post" class="formPage">
            <h1>Login</h1>
            <p>Digite seus dados para logar</p>
            <input type="user" placeholder="Digite seu usuario" autofocus="true">
            <input type="password"placeholder="Digite sua senha">
            <a href="#">Esqueceu sua senha?</a>
            <input type="submit" value="Entrar" class="btn">
        </form>
    </div>

</body>
</html>